extends layout

block content
  h1= title
  
  div.container-fluid
    div.row
      -
        let results = [
          { icecream_name: 'Mango', icecream_color: 'Yellow', icecream_price: 4 },
          { icecream_name: 'Chocolate', icecream_color: 'Brown', icecream_price:5 },
          { icecream_name: 'Black Current', icecream_color: 'Purple', icecream_price: 5 }
        ]
        
      each icecream,index in results
        .col-sm-2 
        div.col-sm-2(onclick=`buy(${index})`)
        
          p Dress Type: #{icecream.icecream_name}
          p Size: #{icecream.icecream_color}
          p Price: $#{icecream.icecream_price.toFixed(2)}

  a(href="/") Back to index

    script. 
        function buy(index) {
            alert(`You purchased item ${index}`);
        }